* {
    margin: 0;
    padding: 0;

}

/*breakpoints start*/
@media screen and (max-width: 992px) {
    nav li {
        font-size: 1.1rem;
    }

    .navbar-navbrand-adjust a {
        font-size: 1.5rem;
    }

    #about-us h2 {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    #about-us p {
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    #about-us {
        width: 75%;
    }

    #contact h2,
    #contact h3 {
        font-size: 1.2rem;
    }

    #contact p {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 768px) {
    nav li {
        font-size: 1rem;
    }
    .carousel-inner {
        height: 20rem;
    }

    .item-container {
        position: absolute;
        height: 15rem;
        bottom: 50%;
        left: 0;
        right: 0;
        padding-bottom: 3rem;
        text-shadow: 0.5px 0.5px #000;
    }

    #about-us h2 {
        margin: 0.45rem auto 1rem;
        font-size: 1.2rem;
    }

    #about-us h3 {
        font-size: 1.2rem;
    }

    #about-us p {
        margin-top: 0.45rem;
        font-size: 1rem;
        text-indent: 0;
    }

    #about-us {
        width: 76%;
    }

    .list-group {
        font-size: 0.5rem;
    }

    .container .container-right h2 {
        font-size: 1.2rem;
    }

    .container .container-right li {
        font-size: 0.8rem;
    }

    .btn-outline-light {
        font-size: 0.8rem;
    }

    #contact h2,
    #contact h3 {
        font-size: 1rem;
    }

    #contact li {
        font-size: 0.7rem;
    }

}

@media screen and (max-width: 576px) {
    
    #top .container-nav{
        align-items:start;
        justify-content: flex-start;
        
    }
    .navbar-toggler{
        margin-top: 0.45rem;
    }
    nav li {
        font-size: 1rem;    
    }

    .navbar-brand {
        font-size: 1.8rem;
        margin-right: 6rem;

    }

    #about-us h2 {
        margin: 0.45rem auto 1rem;
        font-size: 1.2rem;
    }

    #about-us h3 {
        font-size: 1.2rem;
    }

    #about-us p {
        margin-top: 0.45rem;
        font-size: 1rem;
        text-indent: 0;
    }

    #about-us {
        width: 100%;
    }

    .container-left #about-us {
        width: 100%;
        column-width: 12;
    }

    .container .container-right {
        width: 80%;
        column-width: 12;
        margin: 0 auto;
    }

    .list-group {
        font-size: 0.5rem;
    }

    .container .container-right h2 {
        font-size: 1.2rem;
    }

    .container .container-right li {
        font-size: 0.8rem;
    }

    .btn-outline-light {
        font-size: 0.8rem;
    }

    #contact h2,
    #contact h3 {
        font-size: 1rem;
    }

    #contact li {
        font-size: 0.7rem;
    }
    #author-id{
        flex-direction: column;
        width: 70%;
        align-items: center;
    }
    .author-picture img{
        width: 100%;
    }

   .author .author-picture {
        border-radius: 5%;
        width: 60%;
        height: 60%;
    }
    
}

/*breakpoints end*/
body {
    background-color: #777;

}

nav {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 1.8rem;
    margin-right: 4rem;
}

ul {
    list-style-type: none;
}

.carousel-item {
    height: 40rem;
    background: #777;
    color: #fff;
    position: relative;
}

.item-container {
    position: absolute;
    height: 10rem;
    bottom: 10;
    left: 0;
    right: 0;
    padding-bottom: 30rem;
    text-shadow: 0.5px 0.5px #000;
}

.background-one {
    background-image: url("../img/bulb.jpg");
    background-size: cover;
}

.background-two {
    background-image: url("../img/osigurac.jpg");
    background-size: cover;
}

.background-three {
    background-image: url("../img/world.jpg");
    background-size: cover;
}

.container h2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.container-left {
    background-image: url("../img/tools.jpg");
    background-size: cover;
    border-radius: 0.5rem;
    margin-right: 1rem;
    padding: 1.5rem;

}

.container-right {
    width: 40%;
    border-radius: 0.5rem;

}

.container-left p {
    margin: 2rem;
    font-size: 1.3rem;
    text-align: justify;
    text-indent: 4rem;
}

.list-group {
    background-color: #313031;
}

.list-group li {
    font-size: 1rem;
    color: #fff;
    background-color: #313031;
}

/* FOOTER */
footer {
    background-color: #131617;
    color: #fff;
    padding: 1rem 0 2rem;

}

.single-box {
    margin: 1rem auto;
    text-align: center;
}

.footer-left {
    flex-direction: column;
    margin-top: 2rem;
}

.my-class {
    font-size: 1.2rem;
}

footer h3 {
    font-size: 1.8rem;
    text-align: center;
}


.footer-right {
    flex-direction: column;
    margin-top: 2rem;

}

.footer-right i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.single-box ul {
    padding-left: 0;
}

.row {
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: #fff;
}



/* AUTHOR CSS */
.author {
    color: #fff;
    margin: 4rem auto;
    background-color: #313031;
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    background-image: url("../img/author-background.jpg");
    background-size: cover;

}
.author-picture {
    width: 30%;
}

.author-picture img {
    width: 100%;
    border-radius: 5%;
}


.author-text {
    width: 50%;
    margin-left: 1rem;
}

.author-text p {
    font-size: 1.8rem;
}

.author-text h2 {
    font-size: 2.2rem;
}

/* PROJECTS CSS */
.container {
    margin-top: 1rem;
    color: #fff;
}

.container-nav {
    margin-top: 0
}

.projects h2 {
    font-size: 3rem;
    padding: 0.5rem 0 1rem;
    text-align: center;
}

.image {
    width: 100%;
}

.thumbnail {
    position: relative;
    width: 100%;
    height: 100%;

}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    font-size: 2rem;

}

.overlay:hover {
    opacity: 0.8;
    transition: .7s ease;
}

.caption {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 37%;
}

.caption h3 {
    font-size: 3rem;
    margin: 0;
    line-height: 1.5rem;
}

.project-h3 {
    font-size: 1rem;
}

.caption h4 {
    font-size: 1.5rem;
}

.caption p {
    font-size: 1rem;
}

/* SERVICES CSS */
.services {
    background-image: url("../img/tools.jpg");
    background-size: cover;
}

.container-accordion {
    width: 50%;
    margin: 2rem auto 0;
    padding-bottom: 3rem;

}

.accordion-h2 {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 2.5rem;
    color: #fff;
}

.accordion-button {
    background-color: #313031;
    color: #fff;
    font-size: 1rem;
}

.accordion-button:hover {
    opacity: 0.5;
}

.accordion-item {
    background-color: #777;
    color: #fff;
}